<div class="row">
	<div class="columns large-12">
		<h4>Specify the tasks</h4>
	</div>
</div>
<div class="row">
	<div class="columns large-8">
		<input id="input-task-name" type="text" name="taskName">
	</div>
	<div class="columns large-4">
		<input id="btn-add-task" type="button" value="Add Task">
	</div>
</div>
<div class="row">
	<div class="columns large-12">
		<div id="task-region"></div>
	</div>
</div>