<div class="row">
	<div class="columns large-8">
		<span id="span-task-name">{{taskName}}</span>
	</div>
	<div class="columns large-4">
		<input type="button" id="btn-remove-task" value="Remove">
	</div>
</div>