<div class="row">
	<div class="columns large-12">
		<h4>Welcome</h4>
	</div>
</div>
<div class="row">
	<div class="columns large-2">
		<span>Username</span>
	</div>
	<div class="columns large-10">
		<input id="input-username" type="text" name="username">
	</div>
</div>
<div class="row">
	<div class="columns large-2">
		<span>Password</span>
	</div>
	<div class="columns large-10">
		<input id="input-password" type="password" name="password">
	</div>
</div>
<div class="row">
	<div class="columns large-12">
		<input id="btn-register" type="button" value="Register">
	</div>
</div>